In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
sales=pd.read_csv(r"C:\Users\sriva\OneDrive\Desktop\Project\elevate lab intern\sales_data_sample (1).csv",encoding='windows-1252')
sales.head()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,897 Long Airport Avenue,NaN,NYC,NY,10022,USA,NaN,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,5/7/2003 0:00,Shipped,2,5,2003,...,59 rue de l'Abbaye,NaN,Reims,NaN,51100,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,7/1/2003 0:00,Shipped,3,7,2003,...,27 rue du Colonel Pierre Avia,NaN,Paris,NaN,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,78934 Hillside Dr.,NaN,Pasadena,CA,90003,USA,NaN,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,...,7734 Strong St.,NaN,San Francisco,CA,NaN,USA,NaN,Brown,Julie,Medium

In [3]:
sales.shape

(2823, 25)

In [4]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2823 entries, 0 to 2822
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ORDERNUMBER       2823 non-null   int64
 1   QUANTITYORDERED   2823 non-null   int64
 2   PRICEEACH         2823 non-null   float64
 3   ORDERLINENUMBER   2823 non-null   int64
 4   SALES             2823 non-null   float64
 5   ORDERDATE         2823 non-null   object
 6   STATUS            2823 non-null   object
 7   QTR_ID            2823 non-null   int64
 8   MONTH_ID          2823 non-null   int64
 9   YEAR_ID           2823 non-null   int64
 10  PRODUCTLINE       2823 non-null   object
 11  MSRP              2823 non-null   int64
 12  PRODUCTCODE       2823 non-null   object
 13  CUSTOMERNAME      2823 non-null   object
 14  PHONE             2823 non-null   object
 15  ADDRESSLINE1      2823 non-null   object
 16  ADDRESSLINE2      302 non-null    object
 17  CITY              2823 non-null   object
 18  STATE             1337 non-null   object
 19  POSTALCODE        2747 non-null   object
 20  COUNTRY           2823 non-null   object
 21  TERRITORY         1749 non-null   object
 22  CONTACTLASTNAME   2823 non-null   object
 23  CONTACTFIRSTNAME  2823 non-null   object
 24  DEALSIZE          2823 non-null   object
dtypes: float64(2), int64(7), object(16)
memory usage: 551.5+ KB

In [5]:
sales.isnull().sum()

ORDERNUMBER            0
QUANTITYORDERED        0
PRICEEACH              0
ORDERLINENUMBER        0
SALES                  0
ORDERDATE              0
STATUS                 0
QTR_ID                 0
MONTH_ID               0
YEAR_ID                0
PRODUCTLINE            0
MSRP                   0
PRODUCTCODE            0
CUSTOMERNAME           0
PHONE                  0
ADDRESSLINE1           0
ADDRESSLINE2        2521
CITY                   0
STATE               1486
POSTALCODE            76
COUNTRY                0
TERRITORY           1074
CONTACTLASTNAME        0
CONTACTFIRSTNAME       0
DEALSIZE               0
dtype: int64

null values are present in ADDRESSLINE2 ,STATE ,TERRITORY 
lets drop ADDRESSLINE2  as it has alot of null values

In [6]:
sales.drop("ADDRESSLINE2",axis=1,inplace=True)

changing the data type of ORDERDATE to datetime

In [7]:
sales['ORDERDATE'] = pd.to_datetime(sales['ORDERDATE'], errors='coerce')

In [11]:
sales.dtypes

ORDERNUMBER                  int64
QUANTITYORDERED              int64
PRICEEACH                  float64
ORDERLINENUMBER              int64
SALES                      float64
ORDERDATE           datetime64[ns]
STATUS                      object
QTR_ID                       int64
MONTH_ID                     int64
YEAR_ID                      int64
PRODUCTLINE                 object
MSRP                         int64
PRODUCTCODE                 object
CUSTOMERNAME                object
PHONE                       object
ADDRESSLINE1                object
CITY                        object
STATE                       object
POSTALCODE                  object
COUNTRY                     object
TERRITORY                   object
CONTACTLASTNAME             object
CONTACTFIRSTNAME            object
DEALSIZE                    object
dtype: object

no need for address,phonenumber and  contact name to analyze sales data

In [12]:
to_drop=["PHONE","ADDRESSLINE1","CONTACTLASTNAME","CONTACTFIRSTNAME"]
sales.drop(to_drop,axis=1,inplace=True)

In [14]:
sales.shape

(2823, 20)

as postal code has very less null values so we can drop those null values as they may not effect the analysis that much

In [20]:
sales = sales.dropna(subset=['POSTALCODE'])

**filling the correct state based on mapping with cities**

In [22]:
# Creating a complete mapping of city to state
city_to_state = {
    'Aaarhus': 'Central Denmark Region',
    'Allentown': 'Pennsylvania',
    'Barcelona': 'Catalonia',
    'Bergamo': 'Lombardy',
    'Bergen': 'Vestland',
    'Boras': 'VÃ¤stra GÃ¶taland County',
    'Boston': 'Massachusetts',
    'Brickhaven': 'North Carolina',
    'Bridgewater': 'New Jersey',
    'Brisbane': 'Queensland',
    'Bruxelles': 'Brussels-Capital Region',
    'Burbank': 'California',
    'Burlingame': 'California',
    'Cambridge': 'Massachusetts',
    'Charleroi': 'Hainaut',
    'Chatswood': 'New South Wales',
    'Cowes': 'Victoria',
    'Dublin': 'Leinster',
    'Espoo': 'Uusimaa',
    'Frankfurt': 'Hesse',
    'Gensve': 'Geneva',
    'Glen Waverly': 'Victoria',
    'Glendale': 'California',
    'Graz': 'Styria',
    'Helsinki': 'Uusimaa',
    'Kobenhavn': 'Capital Region of Denmark',
    'Koln': 'North Rhine-Westphalia',
    'Las Vegas': 'Nevada',
    'Lille': 'Hauts-de-France',
    'Liverpool': 'Merseyside',
    'London': 'England',
    'Los Angeles': 'California',
    'Lule': 'Norrbotten County',
    'Lyon': 'Auvergne-RhÃ´ne-Alpes',
    'Madrid': 'Community of Madrid',
    'Makati City': 'Metro Manila',
    'Manchester': 'England',
    'Marseille': 'Provence-Alpes-CÃ´te d\'Azur',
    'Melbourne': 'Victoria',
    'Minato-ku': 'Tokyo',
    'Montreal': 'Quebec',
    'Munich': 'Bavaria',
    'NYC': 'New York',
    'Nantes': 'Pays de la Loire',
    'Nashua': 'New Hampshire',
    'New Bedford': 'Massachusetts',
    'New Haven': 'Connecticut',
    'Newark': 'New Jersey',
    'North Sydney': 'New South Wales',
    'Osaka': 'Osaka Prefecture',
    'Oslo': 'Oslo County',
    'Oulu': 'North Ostrobothnia',
    'Paris': 'ÃŽle-de-France',
    'Pasadena': 'California',
    'Philadelphia': 'Pennsylvania',
    'Reggio Emilia': 'Emilia-Romagna',
    'Reims': 'Grand Est',
    'Salzburg': 'Salzburg State',
    'San Diego': 'California',
    'San Francisco': 'California',
    'San Jose': 'California',
    'San Rafael': 'California',
    'Sevilla': 'Andalusia',
    'Singapore': 'Central Region',
    'South Brisbane': 'Queensland',
    'Stavern': 'Vestfold og Telemark',
    'Strasbourg': 'Grand Est',
    'Torino': 'Piedmont',
    'Toulouse': 'Occitanie',
    'Tsawassen': 'British Columbia',
    'Vancouver': 'British Columbia',
    'Versailles': 'ÃŽle-de-France',
    'White Plains': 'New York'
}

# Apply the mapping to the dataset
sales['STATE'] = sales.apply(lambda row: city_to_state.get(row['CITY'], row['STATE']), axis=1)

C:\Users\sriva\AppData\Local\Temp\ipykernel_20720\3127480206.py:79: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sales['STATE'] = sales.apply(lambda row: city_to_state.get(row['CITY'], row['STATE']), axis=1)

**Doing same for territories**

In [24]:
# Mapping of cities to territories
city_to_territory = {
    # North America
    'Allentown': 'North America',
    'Boston': 'North America',
    'Brickhaven': 'North America',
    'Bridgewater': 'North America',
    'Burbank': 'North America',
    'Burlingame': 'North America',
    'Cambridge': 'North America',
    'Glendale': 'North America',
    'Las Vegas': 'North America',
    'Nashua': 'North America',
    'New Bedford': 'North America',
    'New Haven': 'North America',
    'Newark': 'North America',
    'NYC': 'North America',
    'Pasadena': 'North America',
    'Philadelphia': 'North America',
    'San Diego': 'North America',
    'San Francisco': 'North America',
    'San Jose': 'North America',
    'San Rafael': 'North America',
    'White Plains': 'North America',
    'Montreal': 'North America',
    'Vancouver': 'North America',
    'Tsawassen': 'North America',

    # Europe
    'Aaarhus': 'Europe',
    'Barcelona': 'Europe',
    'Bergamo': 'Europe',
    'Bergen': 'Europe',
    'Boras': 'Europe',
    'Bruxelles': 'Europe',
    'Charleroi': 'Europe',
    'Dublin': 'Europe',
    'Espoo': 'Europe',
    'Frankfurt': 'Europe',
    'Gensve': 'Europe',
    'Graz': 'Europe',
    'Helsinki': 'Europe',
    'Kobenhavn': 'Europe',
    'Koln': 'Europe',
    'Lille': 'Europe',
    'Liverpool': 'Europe',
    'London': 'Europe',
    'Lule': 'Europe',
    'Lyon': 'Europe',
    'Madrid': 'Europe',
    'Manchester': 'Europe',
    'Marseille': 'Europe',
    'Munich': 'Europe',
    'Nantes': 'Europe',
    'Oslo': 'Europe',
    'Oulu': 'Europe',
    'Paris': 'Europe',
    'Reggio Emilia': 'Europe',
    'Reims': 'Europe',
    'Salzburg': 'Europe',
    'Sevilla': 'Europe',
    'Strasbourg': 'Europe',
    'Torino': 'Europe',
    'Toulouse': 'Europe',
    'Versailles': 'Europe',

    # APAC (Asia-Pacific)
    'Brisbane': 'APAC',
    'Chatswood': 'APAC',
    'Cowes': 'APAC',
    'Glen Waverly': 'APAC',
    'Melbourne': 'APAC',
    'Minato-ku': 'APAC',
    'Makati City': 'APAC',
    'North Sydney': 'APAC',
    'Osaka': 'APAC',
    'Singapore': 'APAC',
    'South Brisbane': 'APAC',
    'Stavern': 'Europe',  # Norway (not APAC)

    # If needed, you can add 'Rest of World' for unmapped cities
}

# Apply the mapping
sales['TERRITORY'] = sales.apply(lambda row: city_to_territory.get(row['CITY'], row['TERRITORY']), axis=1)

C:\Users\sriva\AppData\Local\Temp\ipykernel_20720\203977678.py:85: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sales['TERRITORY'] = sales.apply(lambda row: city_to_territory.get(row['CITY'], row['TERRITORY']), axis=1)

In [25]:
sales.isnull().sum()

ORDERNUMBER        0
QUANTITYORDERED    0
PRICEEACH          0
ORDERLINENUMBER    0
SALES              0
ORDERDATE          0
STATUS             0
QTR_ID             0
MONTH_ID           0
YEAR_ID            0
PRODUCTLINE        0
MSRP               0
PRODUCTCODE        0
CUSTOMERNAME       0
CITY               0
STATE              0
POSTALCODE         0
COUNTRY            0
TERRITORY          0
DEALSIZE           0
dtype: int64

**no any null values present**

In [26]:
sales.shape

(2747, 20)

In [27]:
sales.to_csv("SALES_DATA_CLEANED.csv", index=False, encoding='utf-8')